.lg{
    width:320px;
    height: fit-content;
}
.auth-form {
display: flex;
flex-direction: column;
gap:20px;
align-items: center;
justify-content: center;
}
.auth-inpw {
    width:100%;
    height: 40px;

}

@media (max-width:1024px) {
    .lg{
        width:400px;
    }
}

@media (max-width: 480px) {
    .lg{
        width:100%;
    }
}